@import "~bootstrap/scss/bootstrap";
$body-bg: #f2f2f2;
$navbar-light-color: rgba(104, 104, 104, 1);
$btn-border-radius: 15px;
$custom-colors: (
  "lightgrey": #adadad,
  "mediumgrey": #686868,
  "black": #151515,
);
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "~bootstrap/scss/bootstrap";
.innernav {
  width: 100%;
}
@media (max-width: 768px) {
  .navbar-collapse.custom-nav-display {
    display: flex !important;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    height: 100vh;
    width: 0vw;
  }

  .navbar-collapse.custom-nav-display.show {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    height: 100vh;
    width: 100vw;
    transition: all 0.5s;
  }
  .navbar-collapse.custom-nav-display.collapsing {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    height: 100vh !important;
    width: 100vw;
    transition: all 0.5s;
  }
  .navbar-collapse.custom-nav-display.collapsing .innernav {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100vh;
    background-color: #f2f2f2;
    @include transition($transition-collapse-width);
  }

  .navbar-collapse.custom-nav-display.show .innernav {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background-color: #f2f2f2;
  }
}
